@use "./styles/variables/global.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.container {
  padding: 0 24px;
  max-width: 1920px;

  @media (max-width: 870px) {
    padding: 0 10px;
  }
  @media (max-width: 550px) {
    padding: 0 5px;
  }
}

.banner {
  background-image: url("./shared/assets/img/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

:root {
  scroll-behavior: smooth;
}

.sections {
  //max-width: var(--container-width);
  margin: 0 auto;
}
